<div class="tech-btm">
	<h4>Mail Bültenine Abone olun</h4>
	<p>TEknoloji,yazılım ve diğer bloklarınızı mail ile alın </p>
	<form action="/NewsLetter/SubscrineMAil/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abone Ol">
	</form>

</div>